#[link(name = "prismo",
       vers = "0.0",
       uuid = "",
       url = "https://github.com/rfw/prismo")];

#[comment = "The Prismo programming language."];
#[license = "MIT"];


extern mod core;
extern mod std;

use core::path;

use std::getopts;

pub mod ast;
pub mod lexer;
pub mod parser;

pub mod interp {
    pub mod aster;
    pub mod env;
    pub mod types;
}

fn print_usage(program: &str) {
    io::println(fmt!("Usage: %s [options...] FILE [args...]", program));
}

fn print_help(program: &str) {
    print_usage(program);
    io::println("");
    io::println("   -t, --tokens   Dump token stream.");
    io::println("   -a, --ast      Dump AST.");
    io::println("   -h, --help     Print this message.");
}

fn main() {
    let args = os::args();
    let program = copy args[0];

    let options: &[~str];
    let filename: ~str;
    let prog_args: &[~str];

    match vec::position(vec::tail(args), {|t|
        t.char_at(0) != '-' && t.len() != 1
    }) {
        option::None => {
            print_usage(program);
            fail!(~"file to run not specified")
        },
        option::Some(i) => {
            options = vec::slice(args, 1, i + 1);
            filename = copy args[i + 1];
            prog_args = vec::slice(args, i + 1, vec::len(args));
        }
    }

    let opts = ~[
        getopts::optflag("t"), getopts::optflag("tokens"),
        getopts::optflag("a"), getopts::optflag("ast"),
        getopts::optflag("h"), getopts::optflag("help")
    ];

    let matches = match getopts::getopts(options, opts) {
        result::Ok(m) => m,
        result::Err(f) => {
            print_usage(program);
            fail!(getopts::fail_str(f))
        }
    };

    if getopts::opt_present(&matches, "h") || getopts::opt_present(&matches, "help") {
        print_help(program);
        return;
    }

    let tokens = lexer::lex(if filename == ~"-" {
        io::stdin()
    } else {
        match io::file_reader(&path::PosixPath(filename)) {
            result::Ok(r) => r,
            result::Err(f) => fail!(f)
        }
    });

    if getopts::opt_present(&matches, "t") || getopts::opt_present(&matches, "tokens") {
        io::println(fmt!("%?", tokens));
    }

    let program = parser::parse(tokens);

    if getopts::opt_present(&matches, "a") || getopts::opt_present(&matches, "ast") {
        io::println(fmt!("%?", program));
    }

    interp::aster::run(@interp::env::Env::new(), program);
}
